{% extends "mtaa_watch/base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-faded justify-content-between">
  <a class="navbar-brand">Neighborhoods Listing</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search Neighborhoods">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
    {% for neighborhood in neighborhoods %}
    
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" href="{% url 'neighborhood-detail' neighborhood.id %}">Name: {{ neighborhood.neighborhood_name}}</a></h2>     
            </div>
            <img class="img-fluid" src="{{ neighborhood.neighborhood_image.url }}"><br>
            <a class="mr-2" href="{% url 'neighborhood-home'%}">Location: {{ neighborhood.neighborhood_location}}</a>  
            <br>
            <small class="text-muted">Number of Residents: {{ neighborhood.occupants_count }}</small>
            <br>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
